body {
  width: 100%;
  height: 100%;
  grid-template-rows: repeat(10, fr);
  background-color: rgba(48, 49, 63, 1);
}
#my_my_form {
  font-family: sans-serif;
  width: 30vw;
  height: 60vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  background-color: rgba(54, 56, 74, 1);
  grid-template-areas:
    "form_head"
    "ip"
    "ip1"
    "ip2"
    "ip3"
    "ip4";
}
#header_form {
  display: flex;
}
#form_head {
  grid-area: form_head;
  text-align: center;
  color: white;
  padding: 40px;
  font-size: 200%;
}
#uname_div {
  grid-area: ip;
  color: white;
  display: grid;
  grid-template-rows: 40% 40%;
  padding: 15px;
  padding-bottom: 5px;
}
#ip {
  background-color: rgba(54, 56, 74, 1);
  color: gray;
  border: 1px solid rgba(78, 85, 147, 1);
}

#email_div {
  grid-area: ip1;
  color: white;
  display: grid;
  grid-template-rows: 40% 40%;
  padding: 15px;
  padding-bottom: 5px;
}
#ip1 {
  background-color: rgba(54, 56, 74, 1);
  color: gray;
  border: 1px solid rgba(78, 85, 147, 1);
}
#password_div {
  grid-area: ip2;
  color: white;
  display: grid;
  grid-template-rows: 40% 40%;
  padding: 15px;
  padding-bottom: 5px;
}
#ip2 {
  background-color: rgba(54, 56, 74, 1);
  color: gray;
  border: 1px solid rgba(78, 85, 147, 1);
}

#sign_in_controls {
  grid-area: ip3;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 15px;
  font-size: 1.1ch;
  margin: 3px;
}
#si_button {
  grid-area: btn1;
  background-color: rgba(78, 85, 147, 1);
  color: white;
  padding: 5px;
  border-radius: 7px;
  border: 1px solid rgba(78, 85, 147, 1);
  margin-left: 4px;
}
#navigate_controls {
  grid-area: ip4;
  align-items: flex-end;
  text-align: right;
  margin-right: 7px;
}
#go_button {
  background-color: rgba(78, 85, 147, 1);
  color: white;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
  border: 1px solid rgba(78, 85, 147, 1);
}
#back_button {
  background-color: rgba(78, 85, 147, 1);
  color: white;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
  border: 1px solid rgba(78, 85, 147, 1);
}
#have_an_account {
  color: white;
}
#h1 {
  color: white;
}

#img {
  border-radius: 50%;
  padding-left: 10px;
}
